.dlex
{
  display:flex;
}
.isoInputWrapper {
  line-height: 51px;
  border-bottom: 1px solid #f1f3f6;
  font-size: 15px;
    padding: 6px 0px;
}
.isoInputWrapper.dlex span{
  width:50%;
  flex:50%;
}
.form-d p
{
  font-size: 15px;
  font-weight: bold;
}
